<section>
  <form
    [formGroup]="loginForm"
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="5px"
    (ngSubmit)="onSubmit()"
  >
    <mat-form-field>
      <input
        matInput
        formControlName="email"
        type="email"
        placeholder="Your e-mail"
      />
      <mat-hint> Please, enter a valid e-mail</mat-hint>
      <mat-error>
        E-mail invalid, or missing
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        formControlName="password"
        type="password"
        placeholder="your password"
        minlength="6"
      />
      <mat-hint> Please, enter a valid password</mat-hint>
      <mat-error>
        The field can't be empty
      </mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      type="submit"
      color="accent"
      [disabled]="loginForm.invalid"
    >
      Submit
    </button>
  </form>
</section>
