a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: rgb(249, 196, 172);
}

a:active {
  color:  rgb(247, 88, 14);
}
 

.navigation-items {
  list-style: none;
  margin: 0;
  padding: 0;
}

mat-toolbar {
  padding: 50px;
  background-color: rgb(102, 247, 92, 0.7);

  
}

.logo{
  padding: 20px;
  width: 200px;
}