.current-training-container{
    padding: 30px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.current-training{
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}