    <mat-nav-list role="list">
      <a mat-list-item href="/login" (click)="onClosingSidenav()">
        <mat-icon> face </mat-icon> <span class="nav-links">Login</span></a
      >
      <a mat-list-item href="/sign-up"  (click)="onClosingSidenav()">
        <mat-icon> face </mat-icon> <span class="nav-links">Sign Up</span></a
      >
      <a mat-list-item href="/training"  (click)="onClosingSidenav()">
        <mat-icon> face </mat-icon> <span class="nav-links">Training</span></a
      >
      <mat-list-item
        ><button mat-icon-button  (click)="onClosingSidenav()">
          <mat-icon> eject </mat-icon>
          <span class="nav-links">Logout</span>
        </button></mat-list-item
      >
    </mat-nav-list>